.App {
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 12px 20px;
  background-color: #0d5ef4;
}

.btn:hover {
  opacity: 0.9;
}

.btn-login {
  font-size: 14px;
  color: #0d5ef4;
  font-weight: 700;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 12px 20px;
  background-color: #fff;
}

/* Slider */
.slider-img {
  position: relative;
  width: 100%;
  box-shadow: 5px 5px 10px #dadada;
}

.slider-bg {
  height: 600px;
  width: 100%;
  opacity: 0.7;
}

.slider-hero {
  position: absolute;
  width: 500px;
  height: 500px;
  right: 5%;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
}

.slider-decor {
  position: absolute;
  width: 560px;
  height: 90%;
  width: 50%;
  right: 0;
  bottom: 0;
}

.slider-content {
  position: absolute;
  width: 560px;
  height: 560px;
  left: 5%;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
}

/* Footer  */

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border: solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.footer-ul {
  padding-left: 20px;
  list-style-type: circle;
  display: flex;
  flex-direction: column;
  gap: 20px;
  li: {
    font-size: 16px;
    color: #758295;
  }
}

.footer-link {
  background: #172336;
  border-radius: 20px;
  backdrop-filter: blur(100px);
  padding: 40px;
}
